<h2>{{ title }}</h2>
<input
  type="text"
  [(ngModel)]="value"
  (ngModelChange)="onChange($event)"
  [placeholder]="placeholder"
/>

<br />
<div *ngFor="let data of fetchData">
  <div>{{ data.name }}</div>
</div>
<br />

<mat-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page"
  (page)="onPaginate($event)"
>
  >
</mat-paginator>
